section.skills {
    padding-bottom:4rem;
    @include breakpoint('lg') {
        padding-bottom: 8rem;
    }
  ul {
    display: flex;
    color: $highlight;
    margin-bottom: 2rem;
    max-width: 100%;
    flex-wrap: wrap;
    @include breakpoint('md') {
        max-width: 80%;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      padding: 1rem;
      font-size: 2.75rem;
      height: 3rem;
      width: 3rem;
      border-radius: 3rem;
      cursor: pointer;
      transition: all 0.3s;
      background: rgba($highlight, 0.15);
      &.pwa {
        i { 
          background-image: url(/images/pwa.svg);
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:hover i { 
          background-image: url(/images/pwa-hover.svg);
        }
      }
      &.bulma {
        i { 
          background-image: url(/images/bulma.svg);
          width: 100%;
          height: 100%;
          background-repeat: no-repeat; 
          background-position: center;
        }
        &:hover i { 
          background-image: url(/images/bulma-hover.svg);
        }
      }
      &:hover {
        color: darken($highlight, 15%);
      }
    }
  }
}
